@layer base {
  /* Custom font */
  @font-face {
    font-family: 'EBGaramond';
    src: url('/fonts/EBGaramond.ttf') format('truetype') tech(variations);
    font-style: normal;
    font-variation-settings: 'wght';
  }

  @font-face {
    font-family: 'EBGaramond';
    src: url('/fonts/EBGaramond-Italic.ttf') format('truetype') tech(variations);
    font-style: italic;
    font-variation-settings: 'wght';
  }

  :root {
    font-family: 'EBGaramond', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    background-color: #fffafa;
    color: #1e1f24;
  }

  * {
    padding: 0;
    margin: 0;
  }

  .container {
    max-width: min(calc(100% - 2rem), 800px);
    margin: 2rem auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.75rem 0 0.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    font-weight: 500;
  }

  p,
  li {
    margin: 0.75rem 0 0.75rem;
  }

  a {
    color: #cc1d1d;
  }

  a:visited {
    color: #641a16;
  }

  h1 {
    font-size: 2rem;
  }
}
